#!/usr/bin/env python3
import os
from flask import Flask
import pymysql

app = Flask(__name__)

@app.route("/")
def index():
    conn = pymysql.connect(
        host="{{ db_host }}",
        user="{{ db_user }}",
        password="{{ db_app_password }}",
        database="{{ db_name }}",
        ssl={"ssl": {}}
    )
    try:
        with conn.cursor() as c:
            c.execute("INSERT INTO visits (note) VALUES ('page view')")
            c.execute("SELECT COUNT(*) FROM visits")
            count = c.fetchone()[0]
            c.execute("SELECT NOW()")
            now = c.fetchone()[0]
        conn.commit()
    finally:
        conn.close()
    return f"<h1>WAS OK</h1><p>DB time: {now}</p><p>Visits: {count}</p>"

app.run(host="0.0.0.0", port=8080)
