[mysqld]
user            = mysql
bind-address    = 0.0.0.0
mysqlx-bind-address = 127.0.0.1
innodb_buffer_pool_size = {{ mysql_buffer_pool }}
datadir         = /var/lib/mysql
log_error       = /var/log/mysql/error.log
